<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-resources-access" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ResourcesAccess</name>
    <js-module name="ResourcesAccess" src="www/ResourcesAccess.js">
        <clobbers target="cordova.plugins.ResourcesAccess" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ResourcesAccess">
                <param name="android-package" value="cordova.plugins.resources.access.ResourcesAccess" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/ResourcesAccess.java" target-dir="src/cordova-plugin-resources-access/ResourcesAccess" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ResourcesAccess">
                <param name="ios-package" value="ResourcesAccess" />
            </feature>
        </config-file>
        <source-file src="src/ios/ResourcesAccess.m" />
    </platform>
</plugin>
